<h1>My Blogs</h1>

<!-- This added -->
<div style="margin:30px 0px 30px 0px">
  Tags: 
  <% @tags.each do |tag|  %>
      <%= link_to tag.title, {:controller => "blogs", :action => "index", :tag_title => tag.title}, :class => "tag_links" %>
  <% end %>
</div>

<!-- Ends here 
<span style="background-color:pink; padding:6px; margin:4px; color:white">
-->
<hr class="separator" >
<div>
  <% @blogs.each do |blog| %>
    <div>
      <h2><%= blog.title %></h2>
      <div class="blog-title">
        <%= blog.created_at.strftime ("%d %B %Y") %>
      </div>
      <div class="blog-title">
        Posted
        <%= time_ago_in_words(blog.created_at) %>
        ago
      </div>
      <br>

      <div>
        <% blog.tags.each do |tag| %>
          <%= link_to tag.title, {:controller => "blogs", :action => "index", :tag_title => tag.title}, :class => "tag_links" %>
        <% end %>
      </div>
      <br>

      <div class="blog-content">
        <%= truncate blog.content, length: 350 %>
        <%= link_to 'Read more', blog %>
      </div>
      <br>


      <div class="blog-control">
        <button type="button" class="btn btn-warning blog_button" >
          <%= link_to 'Edit', edit_blog_path(blog)%>
        </button>
        <button type="button" class="btn btn-danger">
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
      </div>

    </div>
    <hr class="separator" >
  <% end %>
</div>


<br>

<%= link_to 'New Blog', new_blog_path %>
